.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid rgb(128, 119, 118);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  left: 30px;
  bottom: 25px;
}
